@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,400,300&subset=latin,cyrillic);

* {
  margin: 0;
  padding: 0; }

ul {
  list-style-type: none; }

html, body {
  height: 100%;
  min-width: 300px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
}


.bg{
  position: fixed;
  z-index: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url(../img/bg.png)  no-repeat center center ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.tree1{
  position: fixed;
  z-index: 2;
  left: -200px;
  bottom: 0;
  background: url(../img/tree1.png)  no-repeat center ;
  width: 551px;
  height: 373px;
  display: block;
}
.tree2{
  position: fixed;
  z-index: 2;
  right: -190px;
  bottom: 0;
  background: url(../img/tree2.png)  no-repeat center ;
  width: 586px;
  height: 203px;
  display: block;
}
.main{
  position: relative;
  z-index: 1;
}
.menu{
  text-align: center;
}
.menu ul{
  display: inline-block;
  padding: 15px 0 50px;
}
.menu ul li{
  vertical-align: middle;
  display: inline-block;
  margin: 0 25px;
}
.menu ul li a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  font-size: 20px;
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}
.menu ul li:not(:nth-child(3)) a.active,
.menu ul li:not(:nth-child(3)) a:after{
  content: "";
  position: absolute;
  bottom: -5px;
  height: 2px;
  background: #BA0000;
  width: 100%;
  right: 0;
  opacity: 0;
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}
.menu ul li:not(:nth-child(3)) a.active,
.menu ul li:not(:nth-child(3)) a:hover:after{
  content: "";
  opacity: 1;
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}


.content{
  text-align: center;
}
.redBtn{
  text-decoration: none;
  text-transform: uppercase;
  padding: 12px 41px;
  font-size: 41px;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: none;
  background: #c90101; /* Old browsers */
  background: -moz-linear-gradient(top,  #c90101 0%, #740000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c90101), color-stop(100%,#740000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #c90101 0%,#740000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #c90101 0%,#740000 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #c90101 0%,#740000 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #c90101 0%,#740000 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c90101', endColorstr='#740000',GradientType=0 ); /* IE6-9 */
}
.redBtn:hover{
  background: #b00000; /* Old browsers */
  background: -moz-linear-gradient(top,  #b00000 0%, #3c0000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b00000), color-stop(100%,#3c0000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #b00000 0%,#3c0000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #b00000 0%,#3c0000 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #b00000 0%,#3c0000 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #b00000 0%,#3c0000 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b00000', endColorstr='#3c0000',GradientType=0 ); /* IE6-9 */
}
.infoBox {
  margin: 50px 0 0;
  position: relative;
  overflow-y: hidden;;
  padding: 10px 0 20px;
}
.infoBox:after,
.infoBox:before{
  content: '';
  -webkit-box-shadow: inset 250px 0 201px -26px rgba(0, 0, 0, 0.85);
  -moz-box-shadow: inset 250px 0 201px -26px rgba(0, 0, 0, 0.85);
  box-shadow: inset 250px 0 201px -26px rgba(0, 0, 0, 0.85);
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  display: block;
  height: 100%;
}
.infoBox:after{
  -webkit-box-shadow: inset -250px 0 201px -26px rgba(0, 0, 0, 0.85);
  -moz-box-shadow: inset -250px 0 201px -26px rgba(0, 0, 0, 0.85);
  box-shadow: inset -250px 0 201px -26px rgba(0, 0, 0, 0.85);
  right: inherit;
  left: 0;
  width: 50%;

}
.infoBox h2{
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  font-size: 35px;
  color: #fff;
  font-weight: 300;
}
.infoBox ul{
  position: relative;
  z-index: 1;
}
.infoBox ul li{
  display: inline-block;
  vertical-align: middle;
}
.infoBox ul li a{
  display: block;
  width: 55px;
  height: 55px;
  margin: 5px;
}
.infoBox ul li a.fb{
  background: url(../img/social.png) 0 0 no-repeat;
}

.infoBox ul li a.vk{
  background: url(../img/social.png) -72px 0 no-repeat;
}
.infoBox h3{
  position: relative;
  z-index: 1;
  font-size: 18px;
  color: #bebebe;
  font-weight: 300;
}


.footer{
  text-align: center;
}
.footerLogo{
  padding: 20px 0;
  display: block;
}
.modal-box-wrap {
  overflow-x: hidden;
  overflow-y: auto;
  display: none;
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
}
.modal-box {
  box-sizing: border-box;
  text-align: center;
  color: #fff;
  height: 100%;
}
.active-modal {
  display: block;
}
.close-modal-box {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 73px;
  line-height: 40px;
  color: #D1D2D4;
  text-decoration: none;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  font-family: Arial;
}
.modal-content{
  line-height: 22px;
  width: 690px;
  height: 340px;
  margin: 0 auto;
  color: #ECECEC;
}

/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #4D4F53;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 8px;
}
.mCSB_inside > .mCSB_container {
  margin: 0 30px;
}

.headLiner img{
  margin: -60px 0 0;
}
.headLiner > h2{
  font-size: 80px;
  line-height: 65px;
}
.headLiner h3{
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 10px;
}
.headLiner .modal-content h2{
  font-size: 16px;
  font-weight: 400;
}
.headLiner{
  font-size: 16px;
}

/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

.technoBox{
  background: #000;
  padding: 0 0 40px;
  margin: 20px 0;
}

.title,
.title2{
  font-size: 50px;
  font-weight: 700;
  position: relative;
  margin: 20px 0;
  display: inline-block;
  text-transform: uppercase;
}
.title:after,
.title2:after{
  content: '';
  width: 100%;
  height: 3px;
  background: #fff;
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.title2{
  color: #a6a6a6;
}
.title2:after{
  background: #a6a6a6;
}
.lineUp h4{
  font-weight: 700;
  font-size: 20px;
  color: #656363;
}
.lineUp .list1 li a{
  font-size: 15px;
  font-weight: 700;
  color: #a6a6a6;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
}
.lineUp .list1 li a h2{
  color: #fff;
  font-size: 40px;
  font-weight: 700;
}

.lineUp .list2 li{
  display: inline-block;
  margin: 0 20px;
}
.lineUp .list2 li a{
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  text-decoration: none;
  color: #656363;
}

/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

.tickets ul{
  margin: 100px 0 150px;
}
.tickets ul li{
  display: inline-block;
  margin: 0 50px;
}
.tickets ul li h2{
  font-weight: 700;
  line-height: 45px;
  font-size: 100px;
}
.tickets ul li h3{
  font-weight: 700;
  font-size: 47px;
}
.tickets ul li h4{
  font-size: 14px;
  font-style: italic;
  color: #848484;
}
.tickets .mLink{
  display: inline-block;
  margin-top: 120px;
}

/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

.locations hgroup h2{
  font-size: 18px;
  color: #ececec;
  font-weight: 400;
}
.locations hgroup h3{
  font-size: 14px;
  line-height: 18px;
  color: #a3a3a3;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 40px;
}
#map{
  width: 100%;
  height: 100%;
}
#map iframe{
  border: none;
  width: 100%;
  height: 100%;
}

/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
.active-modal.centredBox{
  display: table !important;
}
.centredBoxInside{
  display: table-cell;
  vertical-align: middle;
}
#vk_groups{
  margin: 40px auto 0;
}

















